<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319164809082-2ba30004lca1fgh69f1a5mirl990po3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319164809082-2ba30004lca1fgh69f1a5mirl990po3t</string>
	<key>API_KEY</key>
	<string>AIzaSyAqyAPW8m6eMJKtqjKuG-N0bFRpAzl7IaM</string>
	<key>GCM_SENDER_ID</key>
	<string>319164809082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peterszucs.ReceptbokeniOS</string>
	<key>PROJECT_ID</key>
	<string>recipebookios</string>
	<key>STORAGE_BUCKET</key>
	<string>recipebookios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319164809082:ios:7be7a63c5f3209c42d60c3</string>
	<key>DATABASE_URL</key>
	<string>https://recipebookios.firebaseio.com</string>
</dict>
</plist>